
.slider {
    margin-bottom: 100px;
}

.load-more {
    
}

.load-more span {
    display: none;
}
    


p {
    margin: auto
    
}

.p-name {
    width: 150px;
}

nav {
    margin: 0;
}

nav {
    margin: 0;
}
